.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 7vw;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), fixed;
}

.er {
    display: inline-block;
}

.modal-content {
    background-color: #ffffff;
    margin: auto;
    border: 0.05vw solid #cdcdcd;
    width: 40%;
    height: auto;
    border-radius: 1vw;
    box-shadow: 2px 2px 5px #222222;
}

.close {
    color: #ffffff;
    font-size: 3vw;
    font-weight: bold;
    padding-right: 1vw;
    height: auto;
}

.errorInfo {
    font-size: 1.25vw;
    padding: 3%;
}

.modal-header {
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-color: #f2ccc3;
    width: 100%;
    height: 50px;
}

.auth-text {
    display: inline-block;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    height: auto;
    margin-top: 15px;
}

.logging {
    margin-left: 45%;
}

.registration {
    margin-left: 35%;
}

.modal-container {
    width: 100%;
}

.group {
    margin: 0.5vw;
    padding: 0.5vw;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

input {
    width: 70%;
    margin-left: 15%;
    font-size: 1.4vw;
}

input.field:hover {
    outline: none;
    border: 0.1vw solid #f2ccc3;
}

input.field:focus {
    outline: none;
    border: 0.2vw solid #f2ccc3;
    height: 2vw;
}

label {
    display: block;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1vw;
    color: #888888;
}

.check-box {
    padding-left: 15%;
    height: 1vw;
    width: 1vw;
    margin: 0 1% 0 0;
    vertical-align: center;
}

.submit-button {
    outline: none;
    cursor: pointer;
    background-color: #f2ccc3;
    color: #ffffff;
    width: 70%;
    margin-left: 15%;
    height: 2.5vw;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 0.5vw;
}

button.submit-button:hover {
    opacity: .85;
    transform: scale(1.1);
}

.authorisation-text {
    margin-left: 15%;
    color: #888888;
}

.authorisation {
    cursor: pointer;
    color: #e78f8e;
}

span.authorisation:hover {
    opacity: .85;
    border-bottom: 0.1vw solid #e78f8e;
}

.close:hover,
.close:focus {
    color: #222222;
    text-decoration: none;
    cursor: pointer;
    border-top-right-radius: 1vw;
}

select {
    margin-left: 15%;
    width: 71%;
    font-size: 1.4vw;
}