body {
    margin: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1vw;
}

header {
    background-color: #f2ccc3;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1020;
}

#header .container {
    display: flex;
    height: 100%;
    align-items: center;
}

.logo-container {
    display: flex;
}

.our-logo {
    display: inline-block;
    background: url(../img/our-logo.png) no-repeat;
    height: 50px;
    width: 50px;
    margin-left: 5vw;
    cursor: pointer;
}

.language-selector {
    display: inline-block;
    margin-left: 2vw;
}

.language-selector details {
    background: url(../img/language-selector.png) no-repeat;
    height: 40px;
    width: 50px;
}

details summary::-webkit-details-marker {
    font-size: 0px;
}

.language-selector a {
    position: relative;
    font-size: 2vw;
    color: #ffffff;
    background: rgba(242, 204, 195, 0.6);
    width: auto;
    height: auto;
    cursor: pointer;
    text-decoration: none;
}

.language-selector summary {
    height: 40px;
    width: 50px;
    cursor: pointer;
}

.language-selector details[open] summary {
    outline: none;
}

.sign-in {
    display: inline-block;
    background: url(../img/sign-in.png) no-repeat;
    height: 50px;
    width: 50px;
    margin-left: 2vw;
    margin-top: 0;
    cursor: pointer;
    box-shadow: none;
    border: none;
}

button.sign-in:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0;
    box-shadow: none;
}

.home-page {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.greeting-banner {
    background: url(../img/banner.png) no-repeat;
    color: #ffffff;
    height: 600px;
    width: 100%;
    position: relative;
    text-align: center;
}

.greeting-text {
    padding-top: 210px;
    font-size: 6vw;
}

.training_list {
    background-color: #dcdcdc;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 1.5vw 0 1.5vw;
}

.show-trainings {
    padding-left: 40%;
    color: #222222;
    font-size: 2vw;
    font-weight: bolder;
    letter-spacing: 0.2vw;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2.5vw;
    margin-bottom: 2.5vw;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

button.show-trainings:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0;
    box-shadow: none;
}

.training-list-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    margin-right: 2vw;
    margin-left: 2vw;
}

.training-item {
    display: inline-block;
    background: #ffffff;
    border: 0.1vw solid #cdcdcd;
    margin: 0 0.5vw 2vw 0.5vw;
    width: 17.5vw;
    height: border-box;
}

.training-item-inner {
    padding: 1vw;
}

.training-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    text-align: center;
    margin: 1vw 0 2vw;
}

.training-item-title {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.3vw;
    color: black;
}

.training-item-duration {
    color: #cdcdcd;
    border-top: 0.01vw solid #dcdcdc;
    border-bottom: 0.01vw solid #dcdcdc;
    margin-top: 1vw;
    padding: 0.5vw 0 0.5vw;
}

.left-align-text {
    display: inline-block;
    width: 49%;
    text-align: left;
}

.right-align-text {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.training-item-button {
    text-align: center;
}

.show-btn {
    background-color: #f2ccc3;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 1vw;
    padding: 1vw 2vw 1vw 2vw;
}

button.show-btn:hover {
    opacity: .85;
    transform: scale(1.1);
}

footer {
    background: #222222;
    height: 85px;
    width: 100%;
    position: relative;
    margin-top: auto;
    padding-top: 10px;
}

.copyright-text {
    display: inline-block;
    padding-top: 25px;
    color: #ffffff;
    margin-left: 5vw;
    width: 77vw;
    vertical-align: center;
}

.footer-contact {
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.facebook {
    background: url(../img/facebook.png) no-repeat;
}

.twitter {
    background: url(../img/twitter.png) no-repeat;
}

.chat {
    background: url(../img/chat.png) no-repeat;
}

.training-container {
    height: 720px;
    width: 80%;
    position: relative;
    text-align: left;
    flex-wrap: initial;
    padding-left: 10%;
}

.name {
    padding-top: 100px;
    font-size: 1.5vw;
}

.small-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1vw;
    color: #cdcdcd;
}

.info {
    padding-top: 15px;
    font-size: 1.25vw;
}

.apply {
    text-decoration: underline;
}

.error_wrapper {
    font-size: 1.5vw;
    margin: 3%;
}