body {
    margin: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1vw;
}

header {
    background-color: #f2ccc3;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1020;
}

#header .container {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1vw;
    font-weight: bolder;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    color: #ffffff;
}

.user-name {
    margin-left: 4%;
}

.log-out {
    font-size: 1vw;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 71%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

button.log-out:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0;
    box-shadow: none;
}

.user-container {
    min-height: 720px;
    width: 80%;
    position: relative;
    text-align: left;
    flex-wrap: initial;
    padding-left: 10%;
}

.name {
    padding-top: 100px;
    font-size: 1.5vw;
}

.small-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1vw;
    color: #cdcdcd;
}

.info {
    padding-top: 15px;
    font-size: 1.25vw;
}

.tasks {
    width: 100%;
    border-spacing: 1px;
    background-color: #dcdcdc;
}

.table-head {
    text-decoration: underline;
}

td, th {
    padding: 5px;
    border: 1px dotted #ffffff;
}

.change-btn {
    background-color: #f2ccc3;
    font-size: 1.25vw;
    border-radius: 0.5vw;
    border: none;
    cursor: pointer;
}

button.change-btn:hover {
    opacity: .85;
    transform: scale(1.1);
}

.add {
    margin-left: 60%;
}

.mark-input {
    font-size: 1.25vw;
    padding-top: 0;
    margin-left: 0;
    width: 30%;
}

.admin {
    margin-top: 1%;
}